.carousel-main_container {
  margin-bottom: 80px;
}

.carousel-title > h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  color: #fff;
}

.carousel-title > h1 {
  text-align: center;
  color: #fff;
}

.carousel .slide p.legend {
  display: inline-flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.507);
  font-size: 16px;
  font-weight: 600;
  /* color: #b9bbbee3; */
}
/* .carousel .slide p.legend:hover {
  color: #fff;
} */
.title-dropBtn__container > p.legend > a {
  color: #b9bbbee3;
}
.title-dropBtn__container > p.legend > a:hover {
  color: #fff;
}

.img-controller {
  display: flex;
  justify-content: center;
  max-height: 300px;
  max-width: 300px;
}

.carousel .slide div.legend {
  position: absolute;
  margin-left: 0px;
  padding: 0px;
  border-radius: 5px;
  left: 125px;
  height: 25px;
  width: 50px;
  background: rgba(0, 0, 0, 0.322);

  color: #b9bbbee3;
}

.title-dropBtn__container > div.legend {
  display: flex;
  justify-content: center;

  height: 30px;
  /* width: fit-content; */
  border-radius: 0px;
  margin: 0;
  margin-top: 41px;
  padding: 0;
  top: 0px;
}

/* .title-dropBtn__container > a > p.legend.username {
  position: absolute;
  top: 66px;
  margin-top: 0px;
  white-space: nowrap;
  height: min-content;
} */

div.legend > button {
  /* background-color: aqua; */
  width: 100%;
  border-radius: 0;
  z-index: 22;
}

div.legend > div > div > ul {
  min-height: fit-content;
}

div.legend > button > span > svg {
  color: #b9bbbee3;
  /* background-color: aqua; */
  margin: 0;
  border-radius: 10px;
  /* background-color: transparent; */
  /* width: 100px; */
  /* height: 50px; */
  transition: all 0.1ms;
  /* opacity: 0.9; */
}

div.legend > button > span > svg:hover {
  color: #fff;

  transition: all 0.1ms;
}

ul.thumbs.animated > li {
  height: 80px;
  /* background-color: red; */
  padding: 0;
}

div.carousel {
  /* max-height: 116px; */
}
