.edit-dropdown__container {
  width: 145px;
  /* display: flex;
  justify-content: space-between; */
}
.edit-dropdown__container > li {
  /* width: 100%; */
  /* display: flex;
  
  justify-content: space-around; */
  /* background-color: aqua; */
}
.edit-dropdown__container > li > button {
  /* background-color: aqua; */
  background-color: transparent;
  width: 100px;
  text-align: left;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #fff;
  letter-spacing: 0.01938em;
  padding: 0px;
}

.edit-dropdown__container > li > svg {
  /* padding-left: 10px; */
  /* background-color: aqua; */
  /* padding: 0; */
}

.MuiPaper-root {
  min-width: 135px;
}
.MuiPaper-root > ul > li {
  width: 147px;
}
