@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.player-navBar {
  background-color: #181818;
  width: 100%;
  height: 91px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 4;
}

.player-navbar__container {
  display: flex;

  padding: 10px;
  height: 91px;
  justify-content: space-between;
  padding: 0 16px;
}
.container-playing {
  display: flex;
}

.rhap_container {
  display: flex;
  background-color: transparent;
  max-width: 700px;
  /* min-width: 294px; */
  margin-left: 15px;
}

.rhap_time {
  color: #fff;
  margin-right: 8px;
}

.rhap_total-time {
  margin: 0;
}
.song-playing {
  width: 55px;
  height: 55px;
  margin-top: 14px;
}
.song-playing > img {
  width: 55px;
  height: 55px;
}
.song-title__playing {
  display: flex;
  margin-top: 26px;
  margin-left: 25px;
  font-size: 14px;
  max-inline-size: none;
  /* justify-content: flex-start; */
}
.name-artist {
  display: flex;
  flex-direction: column;
}

.song_id {
  /* display: inline-flex; */
  width: max-content;
  height: fit-content;
  color: #fff;
  font-weight: 400;
}
.song_id:hover {
  text-decoration: underline;
}
.artist_id:hover {
  color: #fff;
  text-decoration: underline;
}
.artist_id {
  color: #b3b3b3;
  font-size: 11px;
  font-weight: 400;
  height: fit-content;
}

.like-artist__cover {
  display: inline-flex;
  justify-content: space-between;
  height: fit-content;
  margin-left: 13px;
  width: max-content;
  margin-top: 7px;
}

/* like artist */
.like-artist__cover > button {
  background-color: transparent;
}

.like-artist__cover > button:hover {
  cursor: pointer;
}
.like-artist__cover > button > svg {
  transition: all 0.3s ease-in-out;
  color: #b3b3b3;
}

.like-artist__cover > button > svg:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/* artist cover */
.see-artist__cover > button {
  background-color: transparent;
}

.see-artist__cover > button:hover {
  cursor: pointer;
}
.see-artist__cover > button > svg {
  transition: all 0.3s ease-in-out;
  color: #b3b3b3;
}

.see-artist__cover > button > svg:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/* queue music */
.queue-music > button {
  background-color: transparent;
}

.queue-music > button:hover {
  cursor: pointer;
}
.queue-music > button > svg {
  transition: all 0.3s ease-in-out;
  color: #b3b3b3;
}

.queue-music > button > svg:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
/* full screen */
.full-screen > button {
  background-color: transparent;
}

.full-screen > button:hover {
  cursor: pointer;
}
.full-screen > button > svg {
  transition: all 0.3s ease-in-out;
  color: #b3b3b3;
}

.full-screen > button > svg:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/* other stuff */
.see-artist__cover {
  display: inline-flex;
  justify-content: space-between;
  height: fit-content;
  margin-left: 12px;
  width: max-content;
  margin-top: 7px;
}

.rhap_progress-indicator {
  background-color: #fff;
  width: 12px;
  height: 12px;
  top: -4px;
  /* opacity: 0; */
}

.rhap_play-pause-button {
  color: rgba(255, 255, 255, 0.774);
  margin-left: 25px;
  margin-right: 25px;
}
@media (max-width: 776px) {
  .player-navbar__container {
    padding: 0px;
  }
  .profile-header__container,
  .full-screen,
  .queue-music,
  .controllers-queue_screen,
  .shuffle-btn,
  .container-playing,
  .see-artist__cover,
  .like-artist__cover {
    display: none;
  }
}

@media (max-width: 720px) {
  .player-navBar {
    padding-bottom: 0px;
  }
  .home-main__container {
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 220px;
  }
}

@media (max-width: 640px) {
  .home-main__container {
    margin-top: 50px;
    padding-bottom: 0px;
    margin-left: 50px;
  }
  .sideBar-title-container,
  .sideBar-button__search,
  .sideBar-button__library,
  .sideBar-button__playlist,
  .sideBar-button__liked,
  .divider-container {
    display: none;
  }

  .sideBar-button__home {
    margin-top: 10px;
    z-index: 20;
  }
}

@media (max-width: 920px) {
  .rhap_play-pause-button {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.rhap_button-clear:hover {
  color: #fff;
}
.controllers-queue_screen {
  display: flex;
}

.queue-music {
  width: min-content;
  height: min-content;
}

.rhap_volume-indicator {
  background-color: #fff;
}

.rhap_progress-filled {
  background-color: #fff;
}

.rhap_download-progress {
  background-color: #868686;
}

.rhap_volume-bar {
  background-color: #868686;
  border: none;
}

.rhap_current-time,
.rhap_time {
  color: #868686;
  font-size: 11px;
}

/* music shuffle */
.shuffle-btn > .shuffle-it {
  background-color: transparent;
}

.shuffle-btn > .shuffle-it:hover {
  cursor: pointer;
}
.shuffle-btn > .shuffle-it > svg {
  transition: all 0.3s ease-in-out;
  color: #b3b3b3;
}

.shuffle-btn > .shuffle-it > svg:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.shuffle-it > .PlayButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: transparent;
  top: 16px;
  left: 663px;
  position: absolute;
}

.shuffle-it > .PlayButton > .btn-play__active:hover {
  background-color: transparent;
  color: transparent;
}

.shuffle-it > .PlayButton > .btn-play__active > svg:hover {
  background-color: transparent;
  color: transparent;
}
.shuffle-it > .PlayButton > .btn-pause__active:hover {
  background-color: transparent;
  color: transparent;
}

.shuffle-it > .PlayButton > .btn-pause__active > svg:hover {
  background-color: transparent;
  color: transparent;
}
