@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.player-navBar {
  background-color: #292b2f;
  width: 100%;
  height: 58px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 4;
}

.player-navbar__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 68px;
  box-sizing: border-box;
  /* position: absolute; */
}
