.song_page {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.song_page > img {
  margin-left: 270px;
  display: flex;
  flex-wrap: wrap;
  width: 1650px;
  height: 363px;
}
.songPage > a > h1 {
  margin: 0px;
  color: #fff;
  text-shadow: #b9bbbe23 -5px 5px;
  margin-left: 250px;
  height: min-content;
}

.full-song__container {
  padding-left: 220px;
  width: 1650px;
  display: flex;
  flex-wrap: wrap;

  /* min-width: fit-content; */
  justify-content: center;
}

.fullX-song__container {
  margin-left: 130px;
  margin-bottom: 100px;
  /* display: flex; */
  flex-wrap: wrap;
  /* width: 1250px; */
  /* height: 363px; */
}
.cover-div {
  max-height: 300px;
  max-width: 300px;
}

.cover-div > img {
  max-height: 300px;
  max-width: 300px;
}

#waveform {
  margin-top: 50px;
  width: 500px;
  height: 130px;
  border-radius: 10px;
}

.song-page__title {
  height: min-content;
  display: inline-flex;
  color: #fff;
  flex-wrap: wrap;
}
.song-page__title > h1 {
  height: fit-content;
  margin: 0;
  margin-top: 1px;
}

.song-page__title > h2 {
  margin: 0;
  margin-top: 10px;
  height: fit-content;
  padding-left: 150px;
}

.full-song__container > .PlayButton {
  position: relative;

  height: 50px;
}
.full-song__container > .PlayButton > .btn-play__active {
  position: absolute;

  /* background-color: rgba(0, 255, 255, 0.664); */
}
.full-song__container > .PlayButton > .btn-pause__active {
  position: absolute;

  /* background-color: rgba(0, 255, 255, 0.664); */
}

/* @media queries */
@media (max-width: 870px) {
  .fullX-song__container {
    margin-left: 0px;
  }
}
@media (max-width: 770px) {
  .song_page > img {
    width: 800px;
    margin-left: 0px;
  }
  .songPage > a > h1 {
    margin: 0px;

    margin-left: 0px;
  }
  .full-song__container {
    padding-left: 0px;

    justify-content: center;
  }
  .song-page__title > h2 {
    padding-left: 10px;
  }
  .song-page__title {
    margin-left: 200px;
    display: flex;

    justify-content: center;
  }
  #waveform {
    margin-left: 200px;
  }
  .cover-div {
    margin-left: 200px;
  }
  .full-song__container > .PlayButton > .btn-play__active {
    left: 200px;
  }
  .full-song__container > .PlayButton > .btn-pause__active {
    left: 200px;
  }
}

@media (max-width: 730px) {
  #waveform {
    display: none;
  }
}
@media (max-width: 640px) {
  .cover-div {
    margin-left: 0px;
  }
  .full-song__container > .PlayButton > .btn-play__active {
    left: -150px;
    top: 50px;
  }
  .full-song__container > .PlayButton > .btn-pause__active {
    left: -150px;
    top: 50px;
  }
  .fullX-song__container {
    margin-left: 0px;
  }
  .full-song__container {
    flex-direction: column;
    align-items: center;
  }

  .song-page__title {
    margin-left: 0px;
  }
}

.volume > button {
  background-color: transparent;
}
