.song_page {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.song_page > img {
  margin-left: 270px;
  display: flex;
  flex-wrap: wrap;
  width: 1650px;
  height: 363px;
}

@media (max-width: 770px) {
  .song_page > img {
    width: 800px;
    margin-left: 0px;
  }
}

.cover-div {
  background-color: red;
  max-height: 300px;
  max-width: 300px;
}

.cover-div > img {
  max-height: 300px;
  max-width: 300px;
}

.song-page__title {
  display: inline-flex;
  color: #fff;
  flex-wrap: wrap;
}
.song-page__title > h1 {
  height: fit-content;
  margin: 0;
  margin-top: 1px;
}

.song-page__title > h2 {
  margin: 0;
  margin-top: 10px;
  height: fit-content;
  padding-left: 150px;
}

.songPage > a > h1 {
  margin: 0px;
  color: #fff;
  text-shadow: #b9bbbe23 -5px 5px;
  margin-left: 250px;
  height: min-content;
}

@media (max-width: 770px) {
  .songPage > a > h1 {
    margin: 0px;
    background-color: rgb(255, 185, 127);
    margin-left: 0px;
  }
}
