.sidebar-main-container {
  /* background-color: rgb(53, 53, 175); */
  width: 220px;
  margin-left: 8px;
  position: fixed;
  /* margin-right: 200px; */

  margin-top: 2px;
  min-height: 600px;
  z-index: 1;
}

.sideBar-title-container {
  display: inline-flex;
  margin-left: 20px;
  margin-top: 8px;
}

#spoty-log {
  border-radius: 50px;
  /* background-color: #b9bbbe; */
  width: 37px;
  height: 37px;
  margin-right: 5px;
  margin-top: 20px;
}

.MuiIconButton-label > svg {
  margin-left: 5px;
  width: 35px;
  height: 35px;
  color: grey;
  transition: all 1.3s ease-in-out;
}
.MuiIconButton-label > svg:hover {
  transition: all 1s ease-in-out;
  color: rgba(255, 255, 255, 0.801);
}
.MuiIconButton-label > .playlist-icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: 0;
  margin-left: 2px;
}

.MuiIconButton-label > .fav-icon {
  width: 32px;
  height: 32px;
  margin-left: 6px;
  margin-right: 4px;
}

.fav-icon {
  border-radius: 4px;
  margin-top: 7px;
  color: gray;
}

.fav-icon:hover {
  transition: all 1s ease-in-out;
  color: rgba(255, 255, 255, 0.801);
}
.background-color {
  width: 32px;
  height: 32px;
  margin-left: 6px;
  margin-right: 4px;
  border-radius: 4px;
  background: linear-gradient(149.46deg, #450af5b4, #8e8ee5b9 99.16%);
}
.background-color:hover {
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
}
.MuiIconButton-label {
  height: 50px;
}
.p-sidebar {
  display: flex;
  font-size: 16px;
  margin-left: 20px;
  color: #b9bbbee3;
  /* background-color: yellow; */
  transition: all ease-in 0.2s;
  height: 34px;
  width: 140px;
  margin-top: 28px;
  font-weight: 600;
}
.p-sidebar:hover {
  color: #fff;
  text-shadow: #b9bbbe23 -3px 3px;
}

.sideBar-button__library {
  padding-bottom: 24px;
}
.sideBar-button__home {
  padding-top: 1px;
}

.sideBar-button__home > .sideBar,
.sideBar-button__search > .sideBar,
.sideBar-button__library > .sideBar,
.sideBar-button__playlist > .sideBar,
.sideBar-button__liked > .sideBar {
  border-radius: 5px;
  height: 45px;
  color: #fff;
  /* background-color: aqua; */
}

.sideBar-button__home > .sideBar:hover,
.sideBar-button__search > .sideBar:hover,
.sideBar-button__library > .sideBar:hover {
  /* background-color: #383838; */
  /* color: #fff; */
}
.sideBar-button__home > .sideBar:focus,
.sideBar-button__search > .sideBar:focus,
.sideBar-button__library > .sideBar:focus {
  background-color: #383838;
}
.sideBar-button__playlist > .sideBar:hover,
.sideBar-button__liked > .sideBar:hover {
  color: #fff;
}

.sideBar-title {
  color: #e4e8ee;
  font-size: 1.7em;

  display: flex;
}

.divider-container {
  margin-top: 10px;
  width: 200px;
  background-color: #383838;
  margin-left: 12px;
}
.MuiPopover-root > .MuiPaper-root {
  background-color: #2e77d0;
  border-radius: 10px;
  margin-left: 180px;
  margin-top: 10px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; */
  color: #fff;
  height: 165px;
}

.MuiPaper-root > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  border-radius: 10px;
  /* background-color: #450af5; */
  min-width: 135px;
  min-height: 105px;
  /* background-color: #2e77d0; */
}

.MuiPaper-root > svg {
  /* background-color: red; */
  position: absolute;
  left: -10px;
  top: -18px;
  font-size: 42px;
  color: #2e77d0;
  margin-left: 174px;
}
.MuiPaper-root > ul > p {
  font-size: 18px;
  width: 300px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 8px;
}
.MuiPaper-root > ul > p:nth-child(2) {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  flex-direction: column;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: large;
  line-height: 16px;
  text-transform: none;
}

#menuItem {
  display: inline-flex;
  /* flex-wrap: wrap; */
  width: 332px;
  justify-content: space-evenly;
  /* margin-left: 15px; */
  margin-top: 30px;
  margin-bottom: 10px;
  /* background-color: red; */
  /* height: 36px; */
}

#menuItem > li {
  display: inline-block;
  font-size: 12px;
  font-weight: 550;
  letter-spacing: 0.5mm;
  background-color: #1ca84dec;
  border-radius: 500px;
  width: 100px;
  /* margin-right: 5px;
  margin-left: 5px; */
  /* padding: 8px 34px; */
  /* justify-content: center; */
  /* font-weight: 700;*/
  line-height: 18px;
  text-align: center;
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
  white-space: nowrap;
  will-change: transform;
}

#menuItem > li:nth-last-child(3):hover {
  transition: all 0.1ms ease-in;
  /* height: 40px; */
  /* width: 93px; */
  color: #fff;
  font-size: 13px;
}
#menuItem > li:nth-last-child(2):hover {
  transition: all 0.1ms ease-in;

  width: 101px;
  background-color: #1db954;
}
#menuItem > li:nth-last-child(1):hover {
  transition: all 0.1ms ease-in;
  width: 101px;
  background-color: #1db954;
}
#menuItem > li:nth-last-child(3) {
  background-color: transparent;
  /* border-radius: 25px; */
  /* width: 90px; */

  /* justify-content: center; */
}
