#upload-submit-button {
  width: 100px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #15883e;
  color: white;
  margin-top: 14px;
}

#upload-submit-button-div {
  display: flex;
  justify-content: center;
}

.no-outline:focus {
  outline: none;
}
