/* start here */
.profile-header__container {
  margin-left: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-header {
  display: flex;

  height: 340px;
  flex-wrap: wrap;
  flex-direction: column;
}
.profile-header > img {
  display: inline-flex;
  height: 343px;
  z-index: 2;
  margin-bottom: 20px;
}

/* username */
.profile-username {
  position: absolute;
  font-size: 46px;
  padding-top: 104px;
  padding-left: 32px;
  font-style: oblique;
  text-shadow: #b9bbbe23 -5px 5px;
  z-index: 2;
}

.profile-username > h1 {
  text-shadow: #14458f23 -5px 5px;
}
@media (max-width: 1396px) {
  .profile-username {
    padding-left: 0px;
    font-size: 42px;
  }
}
@media (max-width: 920px) {
  .profile-username {
    font-size: 37px;
  }
}

/* ends here */
.container-prof {
  display: inline-flex;
}
.profile-songs-container {
  display: inline-flex;
  width: 340px;
  height: 440px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #181818;

  border-radius: 5px;
}

.album-cover {
  max-width: 300px;
  max-height: 300px;
  margin-top: 22px;
}

.album-cover > img {
  max-width: 300px;
  max-height: 300px;
}

/* play btn */
.play-user__btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  /* background-color: red; */
}
.play-user__btn > .PlayButton {
  /* background-color: aqua; */
  left: 0px;
  top: 150px;
}

/* ply btn ends */
.messageButtons {
  position: absolute;
  height: 26px;
  width: 52px;
}
.messageButtons > button {
  height: 26px;
  margin-left: 135px;
  margin-bottom: 5px;
}
.song-profile__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}

.song-image__container > img {
  width: 94px;
  height: 94px;
  border-radius: 50px;
}

.song-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: gray;
}

.song-description > h3 {
  font-size: 16px;
  margin: 0;
  color: rgba(255, 255, 255, 0.863);
}
