.home-main__container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 300px;
  /* margin-right: 30px; */
  /* max-width: 300px; */
  margin-bottom: 60px;
}

.music__container {
  display: inline-block;
  /* flex-wrap: wrap;
  justify-content: center; */
  max-width: 300px;
  margin-right: 100px;
  /* margin-left: 250px; */
  margin-top: 5px;
}
