.LoginErrorModalContainer {
  border-radius: 10px;

  margin-left: 4px;
  color: #f04747;
}

.LoginModalContainer {
  color: grey;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.LoginModalFormTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 2em;
}

.LoginErrorModalContainer > div {
  padding: 5px;
}

.LoginModalInputContainer {
  border-radius: 3px;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.LoginModalInputContainer label {
  margin-bottom: 10px;
}

.LoginModalInputContainer > input {
  font: inherit;
  padding: 5px;
  border: 1px solid rgb(170, 170, 170);
  width: 300px;
  border-radius: 3px;
}

.not-a-member {
  margin-left: 25%;
  margin-top: 10%;
  border: none;
  background: none;
  color: #15883e;
  font-size: 16px;
  cursor: pointer;
}

.not-a-member:hover {
  text-decoration: underline;
}
