.liked_page__container {
  /* background-color: aqua; */
  margin-left: 270px;

  /* transition: all 0.5s ease-in-out; */
  margin-bottom: 90px;
  background: linear-gradient(#5038a03b, #5038a00c, #181818);
}

.liked_page__banner {
  /* background-color: #5038a0; */
  background: linear-gradient(#5038a0, #5038a03b);
  /* width: 100%; */
  height: 355px;
}

.container-ref {
  /* background-color: aquamarine; */
  display: inline-flex;
}
.liked_page__info {
  display: inline-flex;

  /* background-color: red; */

  /* background-color: rgba(52, 182, 52, 0.445); */
}

.container-ref > img {
  max-width: 232px;
  max-height: 232px;
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 20px;

  box-shadow: -5px -5px 10px 1px #5038a00c;
}
.liked-user__info {
  color: #fff;
  margin-top: 100px;
  /* background-color: rgb(72, 177, 90); */
  max-height: 232px;
  vertical-align: baseline;
  /* margin-left: 10px; */
  white-space: nowrap;
}

.liked-user__info > h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 75px;
  /* background-color: aqua; */
}
.liked-user__info > h1 {
  margin: 0;
  margin-left: 15px;
  font-weight: 900;
  font-size: 90px;
  line-height: 96px;
  visibility: visible;
  -webkit-font-smoothing: antialiased;
  /* background-color: aqua; */
  /* transition: all 1s ease-in-out; */
  /* width: 100%; */
}

.user-info__data {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.user-info__data > img {
  max-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.user-info__data > a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 16px;
}
.user-info__data > a:hover {
  text-decoration: underline;
}
.user-info__data > p {
  color: hsla(0, 0%, 100%, 0.7);
  white-space: nowrap;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
}
.play-liked__container {
  background: linear-gradient(#5038a03b, #5038a025);
  /* background-color: #5038a03b; */
  width: 100%;
  height: 104px;
}
.liked-btn__container {
  display: flex;
  align-self: center;
  /* background-color: yellow; */
  height: 56px;

  margin-left: 40px;
  margin-right: 40px;
}
.liked-btn__container > .PlayButton {
  display: flex;
  width: 80px;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
  align-content: center;
  /* background-color: #5038a0; */
  justify-content: center;
}
.liked-btn__container > .PlayButton > button {
  width: 54px;
  height: 54px;
  align-self: center;
  background-color: #15883e;
  border: 2px solid transparent;
  border-radius: 500px;
  transition: all 0.1ms ease-in-out;
}

.liked-btn__container > .PlayButton > button > svg {
  color: #fff;
  display: block;
}
.liked-btn__container > .PlayButton > button:hover {
  width: 56px;
  height: 56px;
}
.song-liked__container {
  /* background-color: aquamarine; */
  /* background-color: #5038a03b; */
  /* background: linear-gradient(#5038a03b 2, #5038a03b 100%),
    var(--background-noise); */
  /* background-color: #5038a00c; */
  background: linear-gradient(#5038a025, #181818);
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #b3b3b3;
  box-sizing: border-box;
  padding-bottom: 363px;
  /* border-radius: 4px; */
  min-height: 300px;
  outline: 0;
}

.liked-grid__container {
  /* margin: 0 -32px 16px; */
  padding: 0 32px;
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 36px;
  margin: 0 -16px 8px;
  padding: 0 16px;
  position: sticky;
  /* top: 60px; */
  /* z-index: 2; */
}

#presentation-container {
  /* grid-template-columns: [index] 16px [first] 30px [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    ); */
  grid-template-columns: 16px 7fr 3fr 2.5fr minmax(70px, 1fr);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #b3b3b3;
  height: 100%;
  grid-gap: 16px;
  display: grid;
  padding: 0 16px;
  margin-bottom: 12px;
  /* background-color: #5038a0; */
}
.presentation-container {
  /* grid-template-columns: [index] 16px [first] 30px [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    ); */
  /* background-color: red; */
  grid-template-columns: 16px 7fr 3fr 2.5fr minmax(70px, 1fr);
  /* border-top: 1px solid hsla(0, 0%, 100%, 0.1); */
  color: #b3b3b3;
  /* height: 100%; */

  grid-gap: 16px;
  display: grid;
  padding: 0 16px;
  /* background-color: #5038a0; */
  /* margin-bottom: 5px; */
  /* background-color: #5038a0; */
  /* margin-top: 12px; */
  border-radius: 5px;
}
.presentation-container:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.presentation-container:focus {
  background-color: hsla(0, 0%, 100%, 0.3);
}

.presentation-container:nth-last-child() {
  margin-bottom: 5px;
}

#presentation-container > .presentation__row:nth-last-child(1) {
  justify-self: end;
  /* background-color: red; */
}
.presentation-container > .presentation__row:nth-last-child(1) {
  justify-self: end;
  /* background-color: red; */
}

.presentation__row {
  margin-top: 10px;
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-self: start;
  /* z-index: 4; */
  margin-bottom: 10px;
  /* white-space: nowrap; */
}

.presentation__row > .PlayButton {
  /* background-color: rebeccapurple; */
  position: relative;
  top: 0px;
  left: -5px;
}
.presentation-container:hover {
  color: #fff;
}
/* .presentation__row > .PlayButton:hover {

  color: #fff;
} */
.presentation__row > .PlayButton > button {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  /* background-color: red; */
  background-color: transparent;
}
.presentation__row > .PlayButton > button > svg {
  margin-top: 1px;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 20px;
  height: 20px;
}
h7{
  color: #15883e;
}
.presentation__img {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  /* flex-wrap: nowrap; */
  margin-top: 10px;
}
/* .presentation__img > a {
  background-color: #693434;
  color: #b3b3b3;
  flex-wrap: nowrap;
  font-size: 14px;
} */

.info-links__artist {
  white-space: nowrap;
  /* font-size: 16px; */

  /* background-color: bisque; */
}

.info-links__artist > p {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  /* background-color: #5038a0; */
}
.info-links__artist > a {
  display: flex;
  /* background-color: #693434; */
  color: #b3b3b3;
  /* align-self: center; */
  /* display: flex;
 
  margin-left: 10px;
  margin-right: 10px; */

  /* flex-wrap: nowrap; */
  /* align-items: center; */
  /* white-space: nowrap; */
  font-size: 14px;
  /* z-index: 4; */
  cursor: pointer;
  margin-bottom: 10px;
}

.info-links__artist > a:hover {
  color: #fff;
  text-decoration: underline;
}

#img_liked-songs {
  margin-right: 10px;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
}

/* media queries */
@media (max-width: 1220px) {
  .liked_page__banner {
    display: flex;
    justify-content: center;
  }
  .liked-user__info > h1 {
    font-size: 45px;
  }
  .liked_page__container {
    margin-left: 240px;
  }
  .container-ref > img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 132px;
    transition: all 1s ease;
  }

  .container-ref {
    margin-left: 50px;
  }
}

@media (max-width: 1120px) {
  .liked-user__info > h1 {
    font-size: 44px;
  }
  .liked_page__container {
    margin-left: 230px;
  }
}
@media (max-width: 927px) {
  .liked-user__info > h1 {
    font-size: 40px;
  }
  .liked_page__container {
    margin-left: 200px;
  }
}

@media (max-width: 797px) {
  .liked-user__info > h1 {
    font-size: 30px;
  }
  .container-ref {
    margin-left: 30px;
  }
}

@media (max-width: 730px) {
  .liked-user__info > h1 {
    font-size: 27px;
  }
}

@media (max-width: 676px) {
  .liked-user__info > h1 {
    font-size: 25px;
  }
  .liked_page__container {
    margin-left: 0px;
  }
}

@media (max-width: 640px) {
  .liked-user__info > h1 {
    font-size: 22px;
  }
  .container-ref > img {
    margin-left: 0px;
  }
}
